* {
  margin: 0;
  padding: 0;
}

.player-control-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.player-controls-left .media {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
}

.player-controls-left a {
  cursor: pointer;
}

.media-left {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;

}

.thumbnail-wrapper {
  color: #fff;

}

.animate {
  animation-name: spin;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.player-controls-left .thumbnail-wrapper .thumbnail {
  width: 64px;
  height: 64px;
  border: 2px solid var(--border-img-player);
  border-radius: 50%;
  overflow: hidden;
  position: relative;

}


@keyframes spin {
  0% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(360deg);
  }

}

.player-controls-left .thumbnail-wrapper .thumbnail figure {
  margin: 0;
  padding: 0;
  background: rgba(#fff, 0.1);
}

.player-controls-left .thumbnail-wrapper img {
  width: 75px;
  height: 75px;
}

.player-controls-left .animate .thumbnail-wrapper svg {
  width: 15px;
  height: 15px;
  position: absolute;
  top: calc(120% - 5px);
  left: calc(50% - 5px);
  animation-name: half-spin;
  animation-duration: 4.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 20;
  color: #fff;
}

.thumbnail-wrapper svg.note-2 {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;

}

.thumbnail-wrapper svg.note-3 {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;

}

.thumbnail-wrapper svg.note-4 {
  animation-delay: 3.6s;
  -webkit-animation-delay: 3.6s;

}

@keyframes half-spin {
  0% {
    opacity: 0;
    transform: rotate(0);
  }
  25% {
    opacity: 1;
    transform: rotate(40deg);
  }
  50% {
    opacity: 0;
    transform: rotate(0);
  }

}

.media-content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.item-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  display: flex;
  align-items: center;
  color: #fff;
}

.subtitle {
  color: hsla(0, 0%, 100%, 0.5);
  margin-top: 1px;
  display: flex;
  font-size: 12px;
}

.subtitle a {
  color: hsla(0, 0%, 100%, 0.5);
  margin-top: 1px;
  display: block;
  font-size: 12px;
  text-decoration: none;
}

.player-controls-center {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 5px;

}

.control > div {
  padding: 3px;
  margin: 0 12px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control > div:hover {
  background: rgba(#fff, 0.1);
  filter: brightness(0.9);
}

.control i {
  display: block;
}

.control i svg {
  width: 16px;
  height: 16px;
  font-size: 16px;
  padding: 5px;
  display: block;
}

.control .btn-toggle-play {
  border: 1px solid #fff;
  padding-left: 3.5px;
  padding-right: 2.5px;
}

.control .btn-toggle-play:hover {
  background: transparent;
  color: #fe63da;
  border: 1px solid #fe63da;
}

.progress {
  width: 642px;
  height: 3px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.9;
  background: rgba(#fff, 0.3);
  border-radius: 10px;
}

.progress:hover {
  padding: 1px 0;
  opacity: 1;
}

.progress::-moz-range-progress {
  background: #fff;
  border-radius: 10px;
}

.progress:hover::-moz-range-progress {
  padding: 0.5px 0;
}

.progress::-moz-range-thumb {
  width: 0;
  height: 0;
  background: rgba(#fff, 1);
  border-radius: 100%;
  border: 0;
  transition: 0.5s;
}

.progress:hover::-moz-range-thumb {
  width: 10px;
  height: 10px;
}

.player {
  display: flex;
  color: rgba(#fff, 0.5);
  align-items: center;
}

.active {
  color: #fe63da;
}

.player-controls-right {
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 116px;
}

.volume {
  display: block;
}

.volume i {
  display: block;
}

.icon-volume {
  width: 16px;
  height: 16px;
  color: #ffffff;
  display: block;
}

.mute {
  display: block;
}

.volumeBar {
  width: 80px;
  background: rgba(#fff, 0.3);
  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.9;
  border-radius: 10px;
  height: 3px;
  margin: 5px auto;
}

.volumeBar {

  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.9;

}

.volumeBar:hover {
  padding: 1px 0;
  opacity: 1;
}

.volumeBar::-moz-range-progress {
  background: #fff;
  border-radius: 10px;

}
.volumeBar:hover::-moz-range-progress {
  padding: 1px 0;
}
.volumeBar::-moz-range-thumb {
  width: 0;
  height: 0;
  background: rgba(#fff, 1);
  border-radius: 100%;
  border: 0;
  transition: 0.5s;
}

.volumeBar:hover::-moz-range-thumb {
  width: 10px;
  height: 10px;
}
