<div class="player-control-container">
  <div class="player-controls-left">
    <div class="level-item is-narrow">
      <div class="media animate">
        <div class="media-left"><a class="" href="/album/Nhac-Moi-Moi-Ngay-Bao-Anh-Rita-Ora-K-ICM-IVE/67WIO6CF.html">
          <div class="thumbnail-wrapper">
            <div class="thumbnail">
              <figure class="image is-50x50 is-rounded"><img
                alt=""
                src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/a/6/5/7/a657568d578b6e9ad66fa7d7b5b524cc.jpg">
              </figure>
            </div>
            <span style="color: #fff">
            <svg class="note note-1" viewBox="0 0 512 512">
              <path
                d="M470.38 1.51L150.41 96A32 32 0 0 0 128 126.51v261.41A139 139 0 0 0 96 384c-53 0-96 28.66-96 64s43 64 96 64 96-28.66 96-64V214.32l256-75v184.61a138.4 138.4 0 0 0-32-3.93c-53 0-96 28.66-96 64s43 64 96 64 96-28.65 96-64V32a32 32 0 0 0-41.62-30.49z"
                fill="currentColor"></path>
            </svg></span>
            <svg class="note note-2" viewBox="0 0 384 512">
              <path
                d="M310.94 1.33l-96.53 28.51A32 32 0 0 0 192 60.34V360a148.76 148.76 0 0 0-48-8c-61.86 0-112 35.82-112 80s50.14 80 112 80 112-35.82 112-80V148.15l73-21.39a32 32 0 0 0 23-30.71V32a32 32 0 0 0-41.06-30.67z"
                fill="currentColor"></path>
            </svg>
            <svg class="note note-3" viewBox="0 0 512 512">
              <path
                d="M470.38 1.51L150.41 96A32 32 0 0 0 128 126.51v261.41A139 139 0 0 0 96 384c-53 0-96 28.66-96 64s43 64 96 64 96-28.66 96-64V214.32l256-75v184.61a138.4 138.4 0 0 0-32-3.93c-53 0-96 28.66-96 64s43 64 96 64 96-28.65 96-64V32a32 32 0 0 0-41.62-30.49z"
                fill="currentColor"></path>
            </svg>
            <svg class="note note-4" viewBox="0 0 384 512">
              <path
                d="M310.94 1.33l-96.53 28.51A32 32 0 0 0 192 60.34V360a148.76 148.76 0 0 0-48-8c-61.86 0-112 35.82-112 80s50.14 80 112 80 112-35.82 112-80V148.15l73-21.39a32 32 0 0 0 23-30.71V32a32 32 0 0 0-41.06-30.67z"
                fill="currentColor"></path>
            </svg>
          </div>
        </a></div>
        <div class="media-content">
          <div class="is-mark level-left">
            <div class="song-info-wrapper" style=""><span class="song-title-item"><a class=""
                                                                                     href="/album/Nhac-Moi-Moi-Ngay-Bao-Anh-Rita-Ora-K-ICM-IVE/67WIO6CF.html"><div
              class="title-wrapper"><span class="item-title title">Deja Vu</span></div></a></span></div>
          </div>
          <h3 class="is-one-line is-truncate subtitle"><i class="icon indicator ic-explicit"></i><a class="is-ghost"
                                                                                                    href="/nghe-si/James-Arthur">James
            Arthur</a></h3></div>
        <div class="media-right">
          <div class="level">
            <div class="level-item">
              <button class="zm-btn zm-tooltip-btn animation-like zm-disable-transition active is-hover-circle button"
                      tabindex="0"><i class="icon ic-like"></i><i class="icon ic-like-full"></i></button>
            </div>
            <div class="level-item"><span id="np_menu"><button
              class="zm-btn zm-tooltip-btn btn-more is-hover-circle button" tabindex="0"><i
              class="icon ic-more"></i></button></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="player-controls-center">
      <ang-music-player
        [audioList]=audioList
        height="90px"
        backgroundColor="transparent"
        audioTimeColor="hsla(0, 0%, 100%, 0.55"
        audioTitle="none"
        style="margin: 0; padding: 0"
      ></ang-music-player>


  </div>
  <div class="player-controls-right">

  </div>
</div>
