<div class="play-queue-container">
  <div class="play-queue-header">
    <div class="level-left">
      <div (click)="is_active = true" [class]='is_active ? "is-active" : ""' class="level-item">
        <h6 class="has-text-white queue-list-title">
          Danh sách phát
        </h6>
      </div>
      <div (click)="is_active = false" [class]='!is_active ? "is-active" : ""' class="level-item">
        <h6 class="has-text-white">
          Nghe gần đây
        </h6>
      </div>
    </div>
    <div class="level-right">
      <div class="level">
        <div class="level-item">
          <button [class]="alarm? 'active': ''" class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
            <span class="material-icons">
              alarm
            </span>
          </button>
        </div>
        <div class="level-item" (click)="deleteList()">
            <span id="queue_menu">
              <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0" title="remove list">
                <span class="material-icons">
                  close
                </span>
              </button>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="play-queue-main" >
    <div class="media is-pre" *ngFor="let song of playList" [class]="indexPlay == song.id ? 'active' : ''">
      <div class="media-left">
        <div class="song-thumb">
          <figure class="image is-40x40"
                  style="--image-background: url({{song.img}})"
                  title="{{song.name}}"></figure>
          <div class="opacity "></div>
          <div class="zm-actions-container">
            <div class="zm-box zm-actions">
              <button [class]="true ? 'active': ''" (click)="playSong(song, $event)" class="zm-btn zm-tooltip-btn animation-like is-hidden is-hover-circle button" tabindex="0">
                <i *ngIf="indexPlay != song.id || isPlay == false">
                  <svg _ngcontent-ams-c25="" aria-hidden="true" class="svg-inline--fa fa-play fa-w-14 fa-lg" data-icon="play" data-prefix="fas"
                       focusable="false" role="img" viewBox="0 0 448 512"
                       xmlns="http://www.w3.org/2000/svg">
                    <path _ngcontent-ams-c25=""
                          d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"
                          fill="currentColor"></path>
                  </svg>
                </i>
                <i *ngIf="indexPlay == song.id && isPlay">
                  <img alt="" src="https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/icons/icon-playing.gif">
                </i>
              </button>

              <button *ngIf="false" class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0"><i
                class="icon ic-more"></i></button>
            </div>
          </div>
        </div>
        <div class="card-info">
          <div class="title-wrapper"><span class="item-title title"><span><span><span>{{song.name}}</span></span><span
            style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></span></div>
          <h3 class="is-one-line is-truncate subtitle">
            <a class="is-ghost" href="/nghe-si/Phi-Phuong-Anh" *ngFor="let singer of song.singer; index as i"><span class="singer-name">{{singer}}</span><span *ngIf="i < song.singer.length - 1">,&nbsp;</span></a></h3></div>
      </div>
      <div class="media-right">
        <div class="level">
          <div class="level-item">
            <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button" tabindex="0">
              <i class="icon ic-like"></i><i class="icon ic-like-full"></i></button>
          </div>
          <div class="level-item">
            <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0"><i class="icon ic-more"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
