* {
  margin: 0;
  padding: 0;
}

.play-queue-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 8px;
}

.level-left {
  display: flex;
  align-items: center;
  //justify-content: start;
  flex: 1 1;
  border-radius: 999px;
  background-color: var(--border-primary);
  padding: 3px;
}

.level-item {
  padding: 5px 0;
  color: #dadada;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  flex-grow: 1;
  border-radius: 999px;
  padding: 5px 0;
  cursor: pointer;
}

.level-item:hover {
  color: #fff;
}

.is-active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .07);
  background-color: var(--tab-active-bg);
  color: #fff;
}

.level-item h6 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.level-right .level {
  display: flex;
  align-items: center;
}

.play-queue-header .zm-tooltip-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-color: var(--border-primary);
}

.play-queue-header .zm-tooltip-btn:hover {
  filter: brightness(0.9);
}

.play-queue-header .zm-tooltip-btn span {
  font-size: 16px;
}

.play-queue-header .active {
  background-color: #ed2b91;
}

#queue_menu .zm-tooltip-btn span {
  font-size: 20px;
  font-weight: 600;
}

.play-queue-main .media,
.media-left,
.media-right
{
  display: flex;
}
.play-queue-main {
  padding: 0 8px;
}
.media {
  padding: 8px;
  border-radius: 5px;
  //transition: 0.3s;
  height: 40px;
  filter: brightness(0.6 );
}
.media:hover {
  background: var(--border-primary);
  filter: brightness(1);
}

.play-queue-main > .active {
  background-color: #fe63da;
}
.song-thumb {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.is-40x40 {
  width: 40px;
  padding-bottom: 40px;
  background-image: var(--image-background);
  background-size: 100%;
  border-radius: 2.5px;
  display: block;
}

.media .card-info {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  cursor: none;
}

.card-info .title-wrapper .item-title {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex: 1 1;
  //line-height: 1.33;
  text-transform: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  font-weight: 501;
  font-size: 14px;
}

h3.is-one-line {
  text-overflow: ellipsis;
  margin-top: -4px;
  white-space: nowrap;
  font-size: 12px;
}

.card-info .is-ghost {
  color: rgba(#fff, 0.5);
  display: inline-block;
  font-size: 12px;
  //lineheight: 1.33;
  text-decoration: none;
  transition: 0.3s;
}

.card-info .is-ghost:hover {
  color: #fe63da;
  text-decoration: underline;
}

.song-thumb .opacity {
  position: absolute;
  width: 40px;
  padding-bottom: 40px;
  background: #000;
  opacity: 0;
  top: 0;
  border-radius: 2.5px;
  //display: none;
  transition: 0.25s;
}

.media:hover .opacity {
  opacity: 0.4;
}

.zm-actions-container {
  position: absolute;
  top: 4px;
  display: flex;
  align-items: center;
  transition: 0.25s;
  opacity: 0;
}

.media:hover .zm-actions-container {
  opacity: 1;
}

.zm-actions-container .zm-actions button {
  color: #fff;
  background: transparent;
  border: 0;
  width: 30px;
  height: 30px;
}

.zm-actions-container .zm-actions button i svg{
  width: 14px;
}
