<div class="history">
  <h3 class="zm-section-title title is-2">
    Gần đây
    <a href="/mymusic/history">
      Tất cả&nbsp;
      <i class="material-icons">
        <svg aria-hidden="true" class="svg-inline--fa fa-chevron-right fa-w-8" data-icon="chevron-right"
             data-prefix="fal" focusable="false"
             role="img" viewBox="0 0 256 512"
             xmlns="http://www.w3.org/2000/svg">
          <path class=""
                d="M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z"
                fill=" currentColor"></path>
        </svg>
      </i>
    </a></h3>
  <div class="zm-carousel-wrapper">
    <div class="zm-carousel">
      <div *ngFor="let song of listSongs | slice:0:6;"
           class="zm-carousel-item is-fullhd-1.4 is-widescreen-1.4 is-desktop-2 is-touch-20 is-tablet-20">
        <div class="playlist-wrapper is-title">
          <div class="zm-card">
            <div routerLink="/detai/{{song.name | nameToUrl}}">
              <div class="zm-card-image">
                <img
                  alt=""
                  src="../../../../{{song.img}}">
                <div class="playlist-action" [class]="isPlay && indexPlay == song.id ? 'active': ''">
                  <div class="add-to-lovelist">
                    <button class="add">
                      <span class="material-icons outlined">
                        favorite_border
                      </span>
                    </button>
                  </div>
                  <div class="play">
                    <button (click)="addToPlayList(song, $event)"
                            class="play-music">
                      <span *ngIf="indexPlay != song.id || isPlay == false" class="material-icons outlined">
                        <svg _ngcontent-qob-c25="" aria-hidden="true" class="svg-inline--fa fa-play fa-w-14 fa-lg" data-icon="play"
                             data-prefix="fas" focusable="false" role="img" viewBox="0 0 448 512"
                             xmlns="http://www.w3.org/2000/svg"><path _ngcontent-qob-c25=""
                                                                                d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"
                                                                                fill="currentColor"></path></svg>
                      </span>
                      <span *ngIf="isPlay && indexPlay == song.id" class="musicIsPlay">
                        <img alt="" src="https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/icons/icon-playing.gif">
                      </span>
                    </button>
                  </div>
                  <div class="more">
                    <button>
                      <span class="material-icons">
                        more_horiz
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="zm-card-content"><h4 class="title is-6">
              <a class=""
                 href="/detail/{{song.name | nameToUrl}}"
                 title="Nhạc Dành Cho Game Thủ Liên Minh"><span><span><span>{{song.name}} </span><br><span>Game Thủ Liên Minh</span></span><span
                style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span>
              </a></h4></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
